# Golang
bin/
*.exe
*.out
*.test

# Node
node_modules/
dist/
build/

# Docker
*.log
.env
.env.local
**/.env
.env.docker
**/.env.docker

# Database
database/pgdata/
*.sql~

# OS / Editor
.DS_Store
.vscode/
.idea/
